@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Minecraft.ttf') format('truetype');
  font-weight:lighter;
  
}

body {
  @apply font-poppins;
}

html, body {
  overflow-x: hidden;
}

